;; Your file has been converted to the new flat format.
;; Conversion does not preserve comments or indentation.
;; File is backed up at C:\Users\lionel.zuber\AppData\Local\LightTable\User\user.keymap.bak
[

 ;; Pair configuration(AZERTY)
 [:editor.keys.normal "\"" (:editor.repeat-pair "\"")]
 [:editor.keys.normal "(" (:editor.open-pair "(")]
 [:editor.keys.normal ")" (:editor.close-pair ")")]
 [:editor.keys.normal "ctrl-alt-4" (:editor.open-pair "{")]
 [:editor.keys.normal "ctrl-alt-5" (:editor.open-pair "[")]
 [:editor.keys.normal "ctrl-alt-[" (:editor.close-pair "]")]
 [:editor.keys.normal "ctrl-alt-=" (:editor.close-pair "}")]

 ;; General Navigation and layout
 [:app "ctrl-shift-o" :goto-line]
 [:app "ctrl-shift-c" :toggle-console]
 [:app "ctrl-shift-e" :workspace.show]

 ;; Editor global shortcut
 [:app "f11" :window.fullscreen]
 [:app "f12" :dev-inspector]
 [:app "f5" :behaviors.reload]
 [:app "f6" :user.svn-update]
 [:editor "alt-ctrl-shift-n" :window.new]

 ;; Tabset control via ctrl-t
 [:app "ctrl-t +" :tabset.new]
 [:app "ctrl-t down" :tabset.close]
 [:app "ctrl-t -" :tabs.close-others]
 [:app "ctrl-t tab" :tabset.next]
 [:app "ctrl-t left" :tabs.move-next-tabset]
 [:app "ctrl-t up" :tabs.move-new-tabset]
 [:app "ctrl-t right" :tabs.move-prev-tabset]

 ;; Watch
 [:editor "alt-shift-w" :editor.watch.unwatch]
 [:editor "alt-w" :editor.watch.watch-selection]

 ;; Zoom
 [:editor "ctrl-+" :window.zoom-in]
 [:editor "ctrl--" :window.zoom-out]
 [:editor "ctrl-/" :window.zoom-reset]

 ;; Editor navigation and selection, like paredit features
 [:editor "ctrl-l" :editor.select-line]
 [:editor "f10" :editor.jump-to-definition-at-cursor]
 [:editor "ctrl-shift-d" :editor.jump-to-definition-at-cursor]
 [:editor "ctrl-down" :paredit-plus.new-line-after-pair-close]
 [:editor "alt-s" :paredit.select.parent]
 [:editor "alt-d" :editor.doc.toggle]
 [:editor "ctrl-b" :editor.sublime.goToBracket]
 [:editor "ctrl-shift-/" :toggle-comment-selection]
 [:editor "ctrl-alt-," :paredit.grow.right]
 [:editor "ctrl-alt-." :paredit.grow.left]

 ;;Plugins configuration
 [:editor "alt-l" :user.svn-lock-file]
 [:editor "ctrl-shift-n" :new-file]
 [:editor "alt-ctrl-n" :new-file]
 [:editor "alt-p alt-a" :photon.add-folder]
 [:editor "alt-p alt-d" :photon.remove-folder]
 [:editor "ctrl-shift-l" :jsbeautify.beautify-file]

 ;; Search on google
 [:editor "alt-f g" :lt.plugins.googlesearch/google-word-under-cursor]

 ;; Multi-cursor config
 [:editor "ctrl-n" :editor.sublime.selectNextOccurrence]
 [:editor "ctrl-shift-up" :editor.sublime.selectLinesUpward]
 [:editor "ctrl-shift-down" :editor.sublime.selectLinesDownward]

 ;; Can replace by editor.delete-line. Keep for example of multi commands
 [:editor "ctrl-k" (:editor.line-start)
                   (:editor.kill-line)
                   (:editor.delete-char-left)]

 [:app "ctrl-g ctrl-n" (:open-path "C:/Users/lionel.zuber/note.otl")]
 ;; Delete emmet standard binding
 [:editor.keys.normal.emmet "-tab" (:editor.codemirror.command "emmet.expand_abbreviation_with_tab")]
]
